@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Hind|Kalam|Muli');


h3 {
  font-family: 'Kalam', cursive;
}

h2 {
  font-family: 'Muli', sans-serif;
}

p, li {
  font-family: 'Hind', sans-serif;
  margin: 1px;
}

footer {
  border-top: 2px;
  border-top-style: solid;
  padding: 0 1318px 0 0;
  font-family: 'Gentium Basic', serif;
  font-size: 12px;
}

a:default{
  color: yellow;
}

a:visited {
  color: rgb(153,76,0);
}

a:active {
  color: green;
}

a:hover{
  color: blue;
}

#container{
  background-color: rgb(153,204,255);
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
}

h1 {
  position: relative;
  left: 390px;
}
img {
  border: 3px;
  border-style: solid;
  border-color: #eee;
  position: relative;
  left: 370px;
}

.website {
  position: relative;
  left: 0;
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
}
