@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Hind|Kalam|Muli');

body {
  background: url("background.jpeg") no-repeat;
}

h1, h2{
  font-family: 'Hind', sans-serif;
  text-align: center;
  color: white;
}

p, li, h3{
  font-family: 'Muli', sans-serif;
  color: white;
}

a:visited{
  color: black;
}

a:link{
  color:white;
}

footer {
  color:white;
  float: left;
}

#maincontent {
  background: rgba(255,255,255,0.1);
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  overflow: auto;
}

#maincontent-life {
  background: rgba(255,255,255,0.1);
  max-width: 50%;
  min-width: 320px;
  margin: 0 auto;
  overflow: auto;
}

#navigation {
  width: 100%;
  padding: 2px 0;
}

#navigation a {
  background: rgba(255,255,255,0.1);
  float:left;
  display: block;
  padding:10px 8%;
  text-align: center;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

.mypic {
  float: right;
}

.introduction {
  max-width: 960px;
  min-width: 320px;
  text-align: center;
  margin:0 auto;
  background: grey;
  padding: 50px 80px;
}

.bgim1, .bgim2, .bgim3, .bgim4 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgim1 {
  background-image: url(DOTA2.jpg);
  min-height: 600px;
  margin-top: 60px;
}

.bgim2 {
  background-image: url(hearthstone.jpg);
  min-height: 600px;
}

.bgim3 {
  background-image: url(overwatch.jpg);
  min-height: 600px;
}

.bgim4 {
  background-image: url(fate_grand_order.jpg);
  min-height: 600px;
}

.fragment-wrap {
	width: 50vw;
	height: 50vh;
	min-height: 225px;
	max-width: 400px;
	max-height: 800px;
	position: relative;
	margin: 0 0 50px 0;
}

.fragment-wrap--right {
	margin: 0 0 0 30vw;
}

.fragment-wrap--right {
	margin: 0 0 0 30vw;
}

.fragment,
.fragment__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
  overflow: hidden;
}

.fragment {
  transition: transform 0.2s ease-out;
}

.fragment-wrap,
.fragment__piece {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.text-left,
.text-right{
  position: absolute;
  font-size: 60px;
  margin: 0;
  z-index: 1;
}

.text-right{
  bottom: 5%;
  left: 100%;
}

.text-left{
  bottom: 5%;
  margin-left: -100px;
}

.text-left-up,
.text-right-up{
  position: absolute;
  font-size: 15px;
  margin: 0;
  width: 100%;
  z-index: 1;
}

.text-right-up{
  bottom: 40%;
  left: 100%;
}
.text-left-up{
  bottom: 40%;
  left:-100%
}

#frag-4,
#frag-2 {
  margin: 0 0 0 25vw;
}
